*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

project.lock.json
project.fragment.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.sap
$tf/


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotCover

*.coverage
*.coveragexml
*.nupkg
**/packages/*
!**/packages/build/

*.nuget.props
*.nuget.targets

*.[Cc]ache
!*.[Cc]ache/
.idea/
*.sln.iml
project.lock.json
**/node_modules/
**/Logs
